<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE_CUSTOM" value="${LOG_FILE_CUSTOM:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring-${HOSTNAME}.log}"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE_CUSTOM}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <cleanHistoryOnStart>${LOG_FILE_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <fileNamePattern>${ROLLING_FILE_NAME_PATTERN:-${LOG_FILE_CUSTOM}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-100MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="prod,stg">
        <springProperty name="appName" source="spring.application.name" defaultValue="unknown"/>
        <springProperty name="stg" source="stg" defaultValue="false"/>

        <springProperty name="LOGBACK_URL" source="logback.destination.url"/>
        <springProperty name="LOGBACK_PORT" source="logback.destination.port"/>

        <appender name="logstashAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGBACK_URL:- }:${LOGBACK_PORT:- }</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"appName": "${appName}","stg": "${stg}"}</customFields>
            </encoder>
        </appender>
    </springProfile>

    <!-- camunda -->
    <logger name="org.camunda" level="info" />

    <!-- common dependencies -->
    <logger name="org.apache.ibatis" level="info" />
    <logger name="javax.activation" level="info" />
    <logger name="org.springframework" level="info" />
    <logger name="io.dozator" level="debug"/>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
